@model IEnumerable<LeaveTypeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            <td>
                   <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                <a asp-action="Edit"  asp-route-id="@item.Id"  class="btn btn-warning">Edit</a>
             
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button">Delete</button>
            </td>
        </tr>
}
    </tbody>    
</table>

<form id="deleteFrom" asp-action="Delete">
        <input type="hidden" id="leaveTypeId" name="Id"/>
</form>

@section Scripts{
    <script>
$(function() {
    $('.deleteBtn').click(function(e) {
        swal({
            title: "Você tem certeza?",
            text: "Quer deletar esse registro?",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((confirm) => {
            if (confirm) {
                var btn = $(this);
                var id = btn.data("id");
                $('#leaveTypeId').val(id);
                        $('#deleteFrom').submit();
                    }
                });
            });
        });
    </script>
}
